.flex-container {
    display: flex;
    align-items: stretch;
}
.flex-container > div {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
.left {
    position: absolute;
    left: 5px;
    width: 300px;
    
}
.center{
    position: absolute;
    left:400px;
    width: 300px;
}
.h3{
    font-size: 30px;
    font-weight: bold;

}